@import './variables';
@import './mixins';
@import './animaciones';
@import './app';
@import './components/main';
@import './components/SectionList';
@import './components/modal';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 5px;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
	color: $color1;
	text-align: center;
	word-wrap: break-word;
}

h3,
h4,
h5,
h6 {
	color: $color2;
	text-align: center;
	font-weight: 500;
	word-wrap: break-word;

	@media (min-width: 724px) {
		font-size: 1.5rem;
	}
}

label {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 20px;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: 0.35s;
	&:active {
		transform: scale(0.9);
	}
}

select {
	width: 75px;
	font-size: 1.5rem;
	margin: 15px 0;
	box-shadow: 1px 1px 5px 0px $color2;
}

@media (min-width: 724px) {
	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 2.5rem;
	}
}
