@import './variables';
@import './mixins';
@import './app';
@import './components/main';
@import './components/SectionList';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 5px;
}

h1,
h2,
h3 {
	color: $color1;
	text-align: center;
}

h4,
h5,
h6 {
	color: $color2;
	text-align: center;

	@media (min-width: 724px) {
		font-size: 1.5rem;
	}
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: 0.35s;
	&:active {
		transform: scale(0.9);
	}
}

@media (min-width: 724px) {
	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 2.5rem;
	}
}
