.main-section {
	@include display-flex(center, center, column);
	width: 320px;

	@media (min-width: 724px) {
		width: 400px;
	}

	@media (min-width: 1024px) {
		width: 450px;
	}

	@media (min-width: 1320px) {
		width: 550px;
	}

	.article,
	.animation-art {
		@include display-flex(space-between, center, row);
		box-shadow: 1px 1px 5px 0px $color2;
		width: 300px;
		padding: 5px 10px;
		margin: 5px;
		animation: articulos 1s;

		@media (min-width: 724px) {
			width: 350px;
		}

		@media (min-width: 1024px) {
			width: 400px;
		}

		@media (min-width: 1320px) {
			width: 500px;
		}

		&_button {
			margin: 5px;
			img {
				width: 30px;
			}
		}

		&-not-form {
			visibility: hidden;
			width: 0;
			height: 0;
		}

		&-form {
			position: absolute;
			position: absolute;
			top: 20%;
			left: 50%;
			transform: translate(-50%, -50%);

			input {
				outline: none;
				border: none;
				box-shadow: 1px 1px 5px 0px $color2;
				font-size: 1rem;
				height: 40px;
				margin-right: 10px;
				width: 300px;

				@media (min-width: 724px) {
					width: 500px;
				}
			}
		}
	}

	.animation-art {
		animation: articulos-desaparece 1s;
	}

	h4 {
		margin: 5px;
		width: 200px;
		@media (min-width: 724px) {
			width: 250px;
		}

		@media (min-width: 1024px) {
			width: 350px;
		}
	}
}
